* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FCFBF8;
    font-size:15px;
}
.page-wrapper {
    max-width: 70%;
    margin: 20px auto;
    background-color: #FCFBF8;
    
}

main{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 20px; 
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    
    gap: 20px;                    
    padding: 15px 20px;
    background: #FCFBF8;
}

.logo-box img {
    width: 120px !important;   
    height: auto !important;  
    object-fit: contain;
}


.site-title {
    font-size: 2rem;
    font-weight: bold;
    flex: 1;                       
    text-align: left;              
}
.hero-image {
    height: 500px;                
    background-image: url("wolf.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    border: 1px solid #ccc;       
}
.origin-image {
    height: 500px;                
    background-image: url("species_origin.avif");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    border: 1px solid #ccc;       
}
.invasion-image {
    height: 500px;                
    background-image: url("carp-fox-river.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    border: 1px solid #ccc;       
}
.extinction-image{
    height: 500px;                
    background-image: url("rhino.jpg.webp");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    border: 1px solid #ccc;  
}
.main-nav {
    display: flex;
    background:#f8ee6f;
    font-weight: bold;
}

.main-nav .nav-link {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #777;
}

.main-nav .nav-link:last-child {
    border-right: none;
}

.main-nav .nav-link:hover {
    background-color: #EFEFEF;
}


.section-block {

    padding: 20px;
}


.placeholder {
    border: 1px solid #CCc;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-style: italic;
}
form{
    display: flex;;
    flex-direction: column;
    flex-wrap: nowrap;
}

.intro p {
    margin-top: 15px;
    line-height: 1.5;
}
a{
    color: inherit;        
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.section-title {
    text-align: center;
    margin-bottom: 10px;
}


.news-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.news-card {
    flex: 1;
    border: 1px solid #777;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.card-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #777;
}
.image1 {
    background-image: url("elk.webp");
}

.image2 {
    background-image: url("seaturtle.png");
}

.image3 {
    background-image: url("skull.jpg");
}
.news-title {
    padding: 20px 10px;
    text-align: center;
}


.other-image-box {
    margin-top: 10px;
    height: 700px;
    background-image: url("elk_painting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #777;
}
.carp-image-box {
    margin-top: 10px;
    height: 700px;
    background-image: url("carp.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #777;
}
.population-image-box {
    margin-top: 10px;
    height: 700px;
    background-image: url("PolarBearPopulation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #777;
}

.references ul {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.5;
}


.site-footer {
    padding: 10px 20px;
    font-size: 0.9rem;
    font-style: italic;
    color: black;
}

.video-player {
    border: 1px solid #777;
    margin-top: 20px;
}

.credit {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 8px;
}
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table th, .info-table td {
    border: 1px solid #777;
    padding: 10px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
@media (max-width: 1024px) {

    .site-header {
        flex-direction: column;
    }

    .logo-box {
        width: 100%;
        border-right: none;

    }

    .main-nav {
        flex-wrap: wrap;
    }

    .main-nav .nav-link {
        flex: 1 1 50%;

    }

    .news-grid {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .main-nav .nav-link {
        padding: 14px 0;
        font-size: 1.1rem;
    }

    .info-table th, 
    .info-table td {
        padding: 14px;
        font-size: 1rem;
    }

    body {
        font-size: 18px;
    }

    .video-player,
    .video-container iframe {
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }

    .section-block {
        padding: 30px;
    }

    .intro p {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    form{
        width: 60%;
        max-width: 30em;
        display:grid;
        grid-gap: 1em;
        grid-template-columns: 6em 1fr;
    }
}